.container {
    height: 92%;
    width: 94%;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  .top, .bottom {
    width: 100%;
    /* background-color: lightgray; */
    background: linear-gradient(180deg, #ddd  1.44%, #fff 98.92%);
    box-sizing: border-box;
    border-radius: 16px;
    box-shadow: inset 0px -1px 14px #ddd;
    overflow-y: scroll;
  }


  #drag {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3px;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    margin: 4px 0;
    padding: 8px;
    user-select: none;
  }


  #drag:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  }

  .inner-drag{
    width: 10%;
    height: 3px;
    background-color: #282828;
    border-radius: 2px;
  }

  .inner-drag:hover, .inner-drag:active{
    background-color: #2717E9;
  }
  
  #drag:hover .inner-drag, #drag:active .inner-drag {
    background-color: #2717E9;
  }

  .inner-header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 87.1%;
    height: fit-content;
    padding: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    z-index: 2;
  }



.transcript-result{
  margin-top: 3rem;
  width: 100%;
  padding: 2em;
  box-sizing: border-box;
  overflow-y: auto;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

.animate-spin{
  margin: 0 auto;
  width: 2.5rem; 
height: 2.5rem; 
color: #6B7280; 
animation: spin 1s linear infinite;
}


.time-stamp{
  color: #2717E9;
  font-size: 1.5rem;
  margin: 2rem 0rem;
  background-color: #2717e926;
  border-radius: 8px;
  padding: 0.8rem;
  cursor: pointer;
  display: flex;
    align-items: center;
    justify-content: space-between;
  font-weight: 600;
  width: 40%;
}

.transcript-text{
  padding: 12px;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    border-radius: 12px;
}

.chat-input-field{
  position: absolute;
  bottom: 22px;
  left: 5.5%;
  height: 28px;
  border: none;
  border-radius: 12px;
  width: 83%;
  padding: 1rem;
  font-family: 'Roboto';
  background-color: #f3f3f3bd;
  resize: none;
  box-shadow: 0px 0px 36px 3px #afafaf;
  backdrop-filter: blur(4px);
  font-size: 15px;
    padding-right: 4em;
    max-width: 280px;
    outline: rgba(243, 243, 243, 0.74) 4px solid;
  }
  
  
  .chat-input-field:focus {
    outline: none;
    background-color: #d7d7d7c8;
    outline: #d7d7d7c8 4px solid;

}


#send-button{
  position: absolute;
  bottom: 28px;
  right: 8%;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  width: 34px;
  height: 34px;
  background-color: #DDD;
  color: #bbb;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 42px;
}

#send-button svg{
  stroke-width: 1.5;
  }

#send-button.active{
  background-color: #2717e926;
  color: #2717E9;
  cursor: pointer;
}




.chat-area{
  margin-top: 3rem;
  width: 100%;
  padding: 2em;
  box-sizing: border-box;
  overflow-y: auto;
}



.response {
  background: #ffffffcd;
  color: #111;
  border-radius: 16px 16px 16px 4px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
  padding-right: 20px;
  padding: 28px;

}

.prompt {
  background-color: #afade1e4;
  color: #111;
  padding-left: 20px;
  border-radius: 16px 16px 4px 16px;  
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
}

.chat-bubble{

  width: 90%;
  padding: 12px;
  margin: 20px 0px;
  font-size: 16px;
}

chat-bubble.response h2 {
  font-size: 16px;
  margin-bottom: 12px;
}

.chat-bubble.response p, li {
  margin-bottom: 12px;
}

.conversation-entry{
  padding: 2rem 1rem;
}