@media (prefers-color-scheme: dark) {
    .sumviz-container {
    border: 1px solid #3F3F3F !important;
    color: white;

}

.toggleBtn{
    background-color: #0F0F0F !important;
    color: #FFF !important;
}

.toggleBtn:hover{
    background-color: #262626 !important;
}

.sumviz-container.isActive .sumviz-header{
        border-bottom: 1px solid #3F3F3F !important;
    }

    }


.sumviz-container{
    width: 98%;
    height: 44px;
    padding: 2px;
    margin-bottom: 2em;
    display: flex;
    align-items: flex-start;
    border: 1px solid #EEE;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    z-index: 1000;
    transition: all 0.8s ease;
    }




    .sumviz-container.isActive{
    height: 85vh;
    transition: all 0.8s ease;
    }

    .sumviz-container.isActive .sumviz-header{
        border-bottom: 1px solid #EEE;
    }
    
    .sumviz-header{
        display: flex;
        border-bottom: none;
    width: 95%;
    height: 24px;
    padding: 10px;
    justify-content: space-between;
    cursor: pointer;
}

.toggleBtn{

    height: fit-content;
    color: #000;
    background-color: #fff;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    transition: background-color 0.5s cubic-bezier(0.05, 0, 0, 1);
}



.toggleBtn:hover{
    transition: background-color 0.5s cubic-bezier(0.05, 0, 0, 1);
    background-color: #D4D3F0;
    transition: all 0.8s ease;

}