
.sumviz-container{
    width: 98%;
    height: 44px;
    padding: 2px;
    margin-bottom: 2em;
    display: flex;
    align-items: flex-start;
    background-color: #f0f0f0;
    border: 2px solid #333;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    z-index: 1000;
    transition: all 0.8s ease;
    }

    .sumviz-container.isActive{
    height: 85vh;
    transition: all 0.8s ease;

    }


.sumviz-header{
    display: flex;
    width: 95%;
    height: 24px;
    padding: 10px;
    justify-content: space-between;
    cursor: pointer;
}

.toggleBtn{

    height: fit-content;
    background-color: #848484;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}



